/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 */
:root {
  --text-color: #38b0c3;
  --bg-color: #0b132e;
  --light-red: #d7156d;
  --light-purple: #90338d;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.body-container {
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 300;
}
a{
  transition: background-color 1s, color 1s;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-content {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  padding:30px 30px 30px 30px;
}
.header-logo{
  align-items: flex-start;
  margin-right: 10px;
}
.header-menu {
  width: auto;
  display: flex;
  gap: 25px;
  padding: 20px;
  align-items: flex-end;
}
.header-menu a {
  font-size: 1.2em;
  color: var(--text-color);
  text-decoration: none;
  line-height: 0.8;
}
.header-menu a:hover,.header-menu a:active{
  color: #d7156d;
}
.header-icons {
  display: flex;
  padding: 20px 20px 20px 20px ;
  gap: 10px;
}
.circle-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: var(
    --light-purple
  );
  color: #fff; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 1s, color 1s;
}
.circle-icon:hover{
  background-color: #38b0c3;
}
.circle-icon a {
  color: #fff; 
  text-decoration: none;
  margin-top: 5px;
}
.hero-img {
  margin-top: -80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/images/hero\ image.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.hero-logo{
  width: 20em;
}
.hero-img-information {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  width: 20em;
}
.hero-img-information-heading {
  color: var(--light-purple);
  font-size: 65px;
  line-height: 1;
}
.hero-img-information span {
  font-size: 30px;
  line-height: 1;
}
.hero-img-information-button {
  background-color: var(--light-purple);
  color: var(--text-color);
  border: none;
  text-decoration: none;
  padding: 5px 25px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
}
.hero-img-information-button:hover ,.hero-img-information-button:active{
  background-color: #d7156d;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}
.marquee span {
  text-transform: uppercase;
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: marquee 3s linear infinite;
  font-weight: 300;
  font-size: 4.8em;
  color: var(--bg-color); /* 文本颜色可以根据需要调整 */
  text-shadow: -1px -1px 0 var(--light-red), 1px -1px 0 var(--light-red),
    -1px 1px 0 var(--light-red), 1px 1px 0 var(--light-red);
}

.heading-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}
.heading-img {
  width: 49%;
}
.heading-font-box {
  font-family: "Poppins", sans-serif;
  width: 49%;
  display: block;
  font-weight: 300;
  font-size: 14px;
  padding: 0 20px;
  color:#FFF;
}
.heading-font-box h1 {
  line-height: 0;
}
.pricing {
  text-align: center;
}
.pricing .text-white {
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.pricing a.text-blue {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  font-size: 25px;
  margin: 10px 0px;
}
.artist-section {
  padding-top: 50px;
  width: 800px;
  margin: 0 auto;
}

.artist-flex-container,
.artist-flex-container-reverse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-flex-container-reverse {
  flex-direction: row-reverse;
}
.splide__slide {
  margin-top: 0px;
  padding: 150px 0px 100px 0px;
}
.splide__slide img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}
.splide__slide.is-active img {
  transform: scale(1.4);
  z-index: 888;
}

.splide__arrow {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  border: none;
  background-color: transparent !important;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.splide__arrow:hover {
  background-color: #ccc;
}

.splide__arrow--prev::before {
  content: "←";
}
.splide__arrow--next::before {
  content: "→";
}
.splide__pagination {
  display: none !important;
}
footer{
  padding: 0 30px;
}
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
}
.footer-box{
  padding: 20px;
}
.footer-form h3{
  margin: 0 0px 10px 0px;
  font-size: 26px; 
  line-height: 1; 
  color: var(--light-red)
}
.footer-form {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer-form-box {
  padding: 1px;
  background-color: var(--text-color);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  border: none;
}
.footer-form-box:focus {
  background-color: var(--text-color);
  outline: none; 
}
.footer-form-button{
  align-self: flex-end;
  font-size: 25px;
  color: var(--light-red);
  margin-top: 10px;
  text-decoration: none;
}
.footer-form-button:hover{
  color: #38b0c3;
}
.footer-information {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2em;
}
.footer-menu a {
  padding: 0 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 22px;
}
.footer-menu a:hover{
  color: #d7156d;
}
.footer-logo{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-logo img{
  max-width: 80%; 
  height: auto; 
  object-fit: contain; 
  padding-bottom: 10px;
}
#toggle {
  display: block;
  width:25px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  top: 20px;
  right:50px;
  display: none;
}

#toggle:after,
#toggle:before,
#toggle div {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--light-purple);
  transition: 300ms ease;
}

#toggle:before {
  top: 20%;
}

#toggle div {
  top: 50%;
  transform: translateY(-50%);
}

#toggle:after {
  bottom: 20%;
}

.open-menu #toggle:before {
  top: 40%;
  transform: rotate(45deg);
}

.open-menu #toggle div {
  opacity: 0;
}

.open-menu #toggle:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.overlay-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: 0;
  right: -50vw; 
  padding: 50px;
  visibility: hidden; 
  opacity: 0; 
  transition: right 300ms ease, visibility 300ms ease, opacity 300ms ease;
  z-index: 1000;
}

.open-menu .overlay-menu {
  right: 0; 
  visibility: visible; 
  opacity: 1; 
}

.overlay-menu a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  transition: color 300ms ease;
}

.overlay-menu a:hover {
  color: #ddd;
}




/* Live up page css */

.live-up-body{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.live-up-body h3{
  font-family: "Poppins", sans-serif;
  color:#fff;
  font-size: 30;
  margin-top: 50;
}
.grid-container {
  margin: 50px 0;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(auto, auto);
  gap: 30px; 
  padding:0 20px;
}

.grid-item {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:0px;
}
.grid-item h2{
  line-height: 1;
  font-size: 1.1em;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-item h2 {
  margin: 10px;
  font-size: 1.2em;
}

/* Live up page css */


/* RWD Css */

@media(max-width: 768px){
  .header-menu a:nth-child(n+2):nth-child(-n+8) {
    display: none;
}
.header-icons {
  display: flex;
  padding: 20px 80px 0px 0px ;
  gap: 10px;
}
  .heading-content{
    display: block;
  }
  .heading-img{
    width: 100%;
  }
  .heading-font-box{
    width: 100%;
    padding: 0;
  }
  .footer {
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    width: 100%;
  }
  .footer-box{
    padding: 0px;
  }
  .footer-form {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .footer-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
  }
  .footer-logo{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .footer-logo img{
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
    padding-bottom: 10px;
  }
  #toggle {
    display: block;
  }
  /* live up page rwd*/
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 在中等屏幕上显示两列 */
  }
 }
 @media (max-width: 480px) {
  /* live up page rwd*/
  .grid-container {
    grid-template-columns: 1fr; /* 在小屏幕上显示一列 */
  }
}
